body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("meow.jpg");
    background-repeat: no-repeat;
    background-size: 2200px 1000px;
    font-family: courier;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: white;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
